*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  
  /* Custom Scroll Bar CSS */
  ::-webkit-scrollbar {
      width: 10px;
  }
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
      background: #6e93f7;
      border-radius: 12px;
      transition: all 0.3s ease;
  }
  
  ::-webkit-scrollbar-thumb:hover {
      background: #4070f4;
  }


body {
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    background: rgb(40, 40, 40);
    color: rgba(255, 255, 255, 0.804);
    font-size: 120%;
}


h1, h2, h3 {
    color: rgb(255, 255, 255);
}
/* navbar style */
nav{
  top: 0;
  position: fixed;
  background: #00299960;
  width: 100%;
  height: 5vw;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;

}
nav.sticky{
  background: #4070f4;
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 35px;
  color: #4070f4;
}
nav.sticky .navbar .logo a{
  color: #fff;
}
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover{
  color: #4070f4;
}
nav.sticky .menu a{
  color: #FFF;
}
nav.sticky .menu a:hover{
  color: #0E2431;
}
.navbar .media-icons a{
  color: #4070f4;
  font-size: 18px;
  margin: 0 6px;
}
nav.sticky .media-icons a{
  color: #FFF;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #4070f4;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}

/* HERO SECTION */
.myName {
    width: 100%;
    height: 100vh;
    background-color: #232323;
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    /* align-items: center; */
    background-color: rgb(0, 83, 104);
    height: 80px;
}
.header img {
    height: 30px;
}
.hero-container img{
    display: block;
    width: 80%;
    margin: auto;
}

/* HERO SECTION */
.myName {
    width: 100%;
    height: 100vh;
    background-color: #232323;
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    /* align-items: center; */
    justify-content: center;
    align-items: center;

    background-image: radial-gradient(#ff660038 5%, transparent 10%),radial-gradient(#00b3ff1c 5%, transparent 10%);
    background-color: #171717;
    background-position: 0 0, 5px 5px;
    background-size: 20px 20px;
  }

/* Floating Icons Section */
.floating-icons i{
    transition: 10s;
    color: rgba(255, 255, 255, 0.496);
}
.floating-icons i:hover{
    transition: 0s;
    color: rgb(255, 164, 66);
    text-shadow: rgb(255, 211, 164) 0 0 80px;
    font-size: 3.1vw;
}


.floating-icons{
    align-items: center;
  }

.floating-icons div {
    position: absolute;
    width: 50px;
    height: 50px;
    transition: 10s;
    margin-top: 80px;
  }

  .floating-icons div i{
    font-size: 3vw;
  }
  .floating-icons div:nth-child(1) {
    top: 25%;
    left: 25%;
    animation: float 5s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
  }

  .floating-icons div:nth-child(2) {
    top: 70%;
    left: 55%;
    animation: float 5.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
  }
  .floating-icons div:nth-child(3) {
    top: 50%;
    left: 35%;
    animation: float 5.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
  }
  .floating-icons div:nth-child(4) {
    top: 60%;
    left: 65%;
    animation: float 5s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
  }
  .floating-icons div:nth-child(5) {
    top: 12%;
    left: 44%;
    animation: float 5.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
  }
  .floating-icons div:nth-child(6) {
    top: 32%;
    left: 84%;
    animation: float 5s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
  }
  .floating-icons div:nth-child(7) {
    top: 32%;
    left: 64%;
    animation: float 5s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
  }
  .floating-icons div:nth-child(8) {
    top: 80%;
    left: 22%;
    animation: float 5s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
  }
  .floating-icons div:nth-child(9) {
    top: 10%;
    left: 15%;
    animation: float 5.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
  }
  .floating-icons div:nth-child(10) {
    top: 60%;
    left: 20%;
    animation: float 5s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
  }
  .floating-icons div:nth-child(11) {
    top: 60%;
    left: 80%;
    animation: float 5.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
  }

  @keyframes float {
    0%{
      transform: scale(0) translateY(0) rotate(0) ;
      opacity: 0;
    }
    100%{
      transform: scale(1) translateY(-180) rotate(360deg);
      opacity: 1;
    }
  }

.logo {
    display: flex;
    padding: 10px 10px;
    text-align: center;
}
.logo h1 {
    margin-left: 10px;
    color: rgb(255, 255, 255);
}

.nav-center{
    z-index: 4;
    display: flex;
    margin: auto;
}

.nav-center .menu {
    display: flex;
}

.nav-center li{
    list-style-type: none;
    padding: 20px 30px;
    margin-left: 10px;
}

.nav-center li:hover{
    color:aquamarine;
    box-shadow: white 5px 5px;
}


.home-left {    
    margin: auto;
    display: flex;
    flex-direction: column;
    width:50%;
    height: 100%;
    padding: 30px 30px;
    margin-bottom: 50px;
}

.home-left .home-header-container{
    color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    font-size: 1vw;
    text-align: center;
    justify-content: center;
    padding:30px;
    margin: 0;
}

.home-left .cta{
    display: flex;
    width: 80%;
    padding:30px;
    margin: auto;
}

.home .cta .image-box {
    display: flex;
    width: 125px;
    height: 125px;
    padding-right: 30px;
    margin: auto 0;
}
.home-left .cta .description{
    display: flex;
    justify-content: flex-start;
    margin: auto;
    text-align: center;
}


.home-left .sign-up-box{
    border: solid rgb(255, 255, 255) 1px;
    border-radius: 5px;
    width: 20%;
    text-align: center;
    margin: auto;
    padding: 10px 10px;
}
.home-left .sign-up-box:hover{
  transition:0.2s;
  color: #ff8432;
  border: solid 1px #ff8432;
  box-shadow: #ffa365 5px 5px;
}





/* About Section Start */
.about-section{
    display: flex;
    justify-content: space-between;
    background-color: rgba(238, 0, 219, 0.105);
    width: 80%;
    margin: auto;
    border-bottom: solid white 1px;
    height: 720px;
}    
.about-section .about-right {
    align-items: center;
    width: 40%;
    margin: auto;
}

.about-section .image-container {
    width: 50%;
}
.about-section .image-container img{
    height: 70%;
    padding: 10px 10px;
    margin:auto;
}

.product-section{
    background-color: rgb(55, 55, 55);
    width: 80%;
    margin: auto;
    border-bottom: solid white 1px;
}


.product-section .product-title-section{
    display: flex;
    justify-content: space-around;
    padding: 20px 20px  ;
    height: 500px;
    margin-bottom: 50px;
}


.product-section .product-title-section h2{
    font-size: 4vw;
    font-weight: 1000;
    font-style: bold;
    text-shadow: rgb(0, 239, 0) 0 0 20px;
    color: rgb(169, 255, 148);
}
.product-section .product-title-section .left{
    padding: 30px 30px;
    align-items: center;
    width: 30%;
    margin: auto;
}
.product-section .product-title-section .right {
    width: 50%;
}
.product-section .product-title-section .right img{
    height: 100%;
    margin:auto;
}
.product-section .tiles{
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    height: 900px;
    justify-content: space-around;
}

.product-section .tiles .tile{
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: auto;
    border-radius: 5px;
    flex:1 1 372px;
    border: solid white 1px;
    min-width: 560px;
    background: linear-gradient(49.21deg, rgba(127, 127, 213, 0.2) 19.87%, rgba(134, 168, 231, 0.2) 58.46%, rgba(145, 234, 228, 0.2) 97.05%)    ;
    height: 400px;
    margin: 10px;
}
.product-section .tiles .tile:hover{
    transition: 0.3s;
    box-shadow: rgb(255, 136, 0) 10px 10px;
}

.product-section .tiles .tile .image-box{
    display: flex;
    width: 320px;
    height: 240px;
    margin: auto;
    bottom: 0;
    justify-content: center;
}

.product-section .tiles .tile .image-box img{
    height: 100%;
}
.product-section .tiles .tile .text-box{
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.607);
    z-index: 10;
}
.product-section .tiles .tile .text-box .tile-title{
    padding-bottom: 20px;
}
.product-section .tiles .tile .text-box i{
    height: 45px;
    width: 45px;
    background: linear-gradient(49.21deg, rgba(127, 127, 213, 0.2) 19.87%, rgba(134, 168, 231, 0.2) 58.46%, rgba(145, 234, 228, 0.2) 97.05%)    ;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    font-size: 24px;
    color: #fff;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
    margin-right: 20px;
}

.contact-section{
    display: flex;
    background-color: rgba(4, 16, 33, 0.275);
    justify-content: space-between;
    width: 80%;
    margin: auto;
    border-bottom: solid white 1px;
    height: 720px;
    padding: 20px;
    margin-top: 20px;

}
.contact-section .contact-left{
    width : 50%;
    margin-left: 20px;
}
.contact-title{
  margin: auto;
  padding:30px;
}
.contact-title h1 {
  padding-bottom: 20px;
}

.contact-section .contact-boxes{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    padding-bottom: 10px;
}
.contact-section .contact-boxes .name-and-email{
    display: flex;
    flex-grow: fill;
    justify-content: space-evenly;
    width: 100%;
}
.contact-name , .contact-email{
    display: flex;
    height: 50px;
}

.contact-email{
    flex-grow: 2;
}

input, textarea{
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #91eeff;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 50px;
    border: solid 1px #b5b5b534;
    margin: 1px;
}

.contact-subject{
    height: 50px;
    width: 100%;
}

textarea{
    background: #2b2b2b;
    min-height: 250px;
}



.contact-section .submit-box{
    display: flex;
    width: 45%;
    padding: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left:0;
    float: right;
    padding-top: 0;
    margin-top: 0;
}

.contact-submit{
    line-height: 1px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    display: flex;
    background: #2b2b2b00;
    text-align: center;
    justify-content: center;
    border: solid 1px white;
}


.contact-submit:hover{
  transition:0.2s;
  color: #ff8432;
  border: solid 1px #ff8432;
  box-shadow: #ffa365 5px 5px;
}

